
@model OFFICE_AUTOMATION_1.Models.file
@{
    ViewBag.Title = "editfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Files </h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <!-- /.box-header -->
            <form role="form" method="post" id="Config_Form" onsubmit="return validate()">
                
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label> Customer Name<span class="error"> * </span></label>
                            <input type="text" required name="CUSTOMERNAME" value="@Model.CUSTOMERNAME" id="C_ID" class="form-control" placeholder="Enter Customer Name">                            
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label> Property Details</label>
                            <input type="text" name="PROPERTY_DETAILS" id="" value="@Model.PROPERTY_DETAILS" class="form-control" placeholder="Enter  Property Details">
                        </div>
                    </div>                 
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label> Agent Name</label>
                            <select name="A_ID" id="agent_id" onselect="@Model.agent_master.NAME" value="@Model.agent_master.NAME" class="form-control select2" style="width: 100%">
                                @foreach (var item in ViewBag.agents)
                                {
                                    if (Model.agent_master.NAME == item.NAME)
                                    {
                                        <option selected value="@item.ID">@item.NAME</option>
                                    }
                                    else
                                    {
                                        <option value="@item.ID">@item.NAME</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Bank Name</label>
                            @*<input type="text" class="form-control" id="bank_id" name="B_ID" value="@Model.B_ID" />*@
                            <input type="hidden" id="bID" name="B_ID" />
                            <select name="B_ID" id="bank_id" onselect="@Model.bank_master.NAME" value="@Model.bank_master.NAME" class="form-control select2" style="width: 100%">
                                
                                @foreach (var item in ViewBag.banks)
                                {
                                    if (Model.bank_master.NAME == item.NAME)
                                    {
                                        <option selected value="@item.ID">@item.NAME</option>
                                    }
                                    else
                                    {
                                        <option value="@item.ID">@item.NAME</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                  
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <label>No Of Year</label>
                            <input type="number" name="NO_OF_YEAR" value="@Model.NO_OF_YEAR" id="no_of_year" class="form-control" placeholder="Enter No Of Year">
                            <span class="hidden" id="NO_OF_YEAR" name="NO_OF_YEAR"></span>
                            <!-- <span class="help-block error">* User Name Already Exist</span> -->
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <label>Search fees</label>
                            <input type="number"  name="SEARCH_FEES" value="@Model.SEARCH_FEES" id="fees" class="form-control" placeholder="Enter search fees">                            
                            <!-- <span class="help-block error">* User Name Already Exist</span> -->
                        </div>
                    </div>                                           
               </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <label>NEC</label>
                            <input type="text" name="NEC" value="@Model.NEC" id="nec" class="form-control" placeholder="Enter NEC">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <label>Legal fees</label>
                            <input type="number" name="LEGAL_FEES" id="LEGAL_FEES" value="@Model.LEGAL_FEES" class="form-control" placeholder="Enter legal fees">
                            <!-- <span class="help-block error">* User Name Already Exist</span> -->
                        </div>
                    </div>
                </div>
                <div class="row">               
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <label>Certified Copy No</label>
                            <input type="text" name="CERTIFIED_COPY" value="@Model.CERTIFIED_COPY" id="CERTIFIED_COPY" class="form-control" placeholder="Enter Certified copy">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <label>Prospect/Application no</label>
                            <input type="text" name="APPLICATION_NO" id="APPLICATION_NO" value="@Model.APPLICATION_NO" class="form-control" placeholder="Enter Application no">
                        </div>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>District</label>
                                <select name="DISTRICT" id="dist" onchange="FillCity()" class="form-control select2 select2-container select2-container--default" dir="ltr" style="width: 100%;">
                                    <option value="@Model.DISTRICT">@Model.city_master2.VILLAGE</option>
                                     @foreach (var item in ViewBag.District)
                                    {
                                        <option value="@item.ID">@item.VILLAGE</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Sub-District</label>
                                <select name="SUBDIST" id="sub_dist" onchange="Fillvillage()" class="form-control select2 select2-container select2-container--default" dir="ltr" style="width: 100%;">
                                    <option value="@Model.SUBDIST">@Model.city_master1.VILLAGE</option>
                                    @if (Model.city_master1.VILLAGE == null)
                                    {
                                        <option value="2">Select Sub-dist</option>
                                    }

                                    @*@foreach (var item in ViewBag.citys)
                            {
                                <option value="@item.ID">@item.VILLAGE</option>
                            }*@
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Village</label>
                                <select name="VILLAGE" id="village" value="@Model.VILLAGE" class="form-control select2 select2-container select2-container--default" dir="ltr" style="width: 100%;">

                                    <option value="@Model.VILLAGE">@Model.city_master.VILLAGE</option>
                                    @if (Model.VILLAGE == null)
                                    {
                                        <option value="3">Select Village</option>
                                    }

                                    @*@foreach (var item in ViewBag.villages)
                            {
                                <option value="@item.ID">@item.VILLAGE</option>
                            }*@
                                </select>
                            </div>
                        </div>
                    </div>

                    <label>Area Search</label>
                    <div class="row" style="margin-bottom: 20px">
                        <div class="col-sm-4">
                            <label for="">A Block No</label>
                            <input type="text" name="A_BLOCK_NO" value="@Model.A_BLOCK_NO" class="form-control" placeholder="Enter Block No">
                        </div>
                        <div class="col-sm-4">
                            <label for="">A Revenue Servey No</label>
                            <input type="text" name="A_REVENUE_SURVEY_NUM" value="@Model.A_REVENUE_SURVEY_NUM" class="form-control" placeholder="Enter Revenue Serway No">
                        </div>
                        <div class="col-sm-4">
                            <label for="">A Flat No</label>
                            <input type="text" name="A_PLOT_FLAT_NUM" value="@Model.A_PLOT_FLAT_NUM" class="form-control" placeholder="Enter Flat No">
                        </div>
                    </div>


                    <label>7/12</label>
                    <div class="row" style="margin-bottom: 20px;">
                        <div class="col-sm-4">
                            <label for="">Block No</label>
                            <input type="text" name="S_BLOCK_NO" value="@Model.S_BLOCK_NO" class="form-control" placeholder="Enter Block No">
                        </div>
                        <div class="col-sm-4">
                            <label for="">Revenue Serway No</label>
                            <input type="text" name="S_REVENUE_SURVEY_NUM" value="@Model.S_REVENUE_SURVEY_NUM" class="form-control" placeholder="Enter Revenue Serway No">
                        </div>
                        <div class="col-sm-4">
                            <label for="">Flat No</label>
                            <input type="text" name="S_PLOT_FLAT_NUM" value="@Model.S_PLOT_FLAT_NUM" class="form-control" placeholder="Enter Flat No">
                        </div>
                    </div>


                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Inward Date:</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" required name="ENT_DATE" value="@Model.ENT_DATE" class="form-control pull-right" id="datepicker">
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Delivery Date:</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" name="DELIVERY_DATE" value="@Model.DELIVERY_DATE" class="form-control pull-right" id="datepicker2">
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-sm-6">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Assign To</label>

                                <select name="ASSIGN_TO" id="assign_to" required value="@Model.employee_master.NAME" class="form-control select2 select2-container select2-container--default" dir="ltr" style="width: 100%;">
                                    @foreach (var item in ViewBag.emp)
                                    {

                                        if (Model.employee_master.NAME == item.NAME)
                                        {
                                            <option selected value="@item.ID">@item.NAME</option>
                                        }
                                        else
                                        {
                                            <option value="@item.ID">@item.NAME</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- text input -->
                            <div class="form-group">
                                <label style="float:left">Is Paid</label>
                                <div class="radio">
                                    @if (Model.IS_PAID == true)
                                    {
                                        <label style="margin-left:12px">
                                            <input type="radio" value="@Model.IS_PAID" name="IS_PAID" id="optionsRadios1" checked> Yes
                                        </label>
                                        <label style="margin-left: 10px">
                                            <input type="radio" name="IS_PAID" value="False" id="optionsRadios2"> No
                                        </label>
                                    }
                                    else if (Model.IS_PAID == false)
                                    {
                                        <label style="margin-left:12px">
                                            <input type="radio" value="True" name="IS_PAID" id="optionsRadios1"> Yes
                                        </label>
                                        <label style="margin-left: 10px">
                                            <input type="radio" name="IS_PAID" value="@Model.IS_PAID" id="optionsRadios2" checked> No
                                        </label>
                                    }
                                    else
                                    {
                                        <label style="margin-left:12px">
                                            <input type="radio" value="True" name="IS_PAID" id="optionsRadios1"> Yes
                                        </label>
                                        <label style="margin-left: 10px">
                                            <input type="radio" name="IS_PAID" value="False" id="optionsRadios2" checked> No
                                        </label>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">

                        </div>
                    </div>
                    <!-- text input -->
                    <div class="form-group ">
                        <label> Remarks</label>
                        <textarea class="form-control" style="resize:vertical" name="REMARKS" rows="3">@Model.REMARKS</textarea>
                        <!-- <span class="help-block warning">* User Name Already Exist</span> -->
                    </div>
                    <div class="box-footer">
                        <input type="submit" id="" class="btn btn-success pull-right" value="Upadate File Details" />
                    </div>
</form>
            <!-- /.box-body -->
        </div>
    </div>

</section>

<script>

    //function slag()
    //{
    $("#bank_id").change(function() {
      //  alert($('#agent_id').val());
        $.ajax({
            type: "get",
            url: "/loadbank",
            data: { ID: $('#bank_id').val() },
            datatype: "Json",
            success: function (data) {

                $('#bID').val(data.data.ID);
                $('#bank_id').val(data.data.NAME);
                $('#no_of_year').val(data.data.NO_OF_YEAR);
                $('#fees').val(data.data.FEES);
                $('#LEGAL_FEES').val(data.data.LEGAL_FEES); 
                $('#nec').val(data.data.NEC);

            }, error: function (xhr, textStatus, errorThrown) {
                alert(xhr.responseText);
            }
        })
        });
    //};
</script>


<script>
    function validate() {

        var A = $("#agent_id").val();
        var B = $("#bank_id").val();
        var A_to = $("#assign_to").val();

        if (A == 0) {
            alert("Please Fill required Values");
            return false;
        }
        if (B == 0) {
            alert("Please Fill required Values");
            return false;
        }
        if (A_to == 0) {
            alert("Please Fill required Values");
            return false;
        }
    }
</script>

